/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

html {
  --color-white: #f0f0f5;
  --color-black: #1d1d21;
  --color-black-light: #202026;
  --color-text: var(--color-white);
  --color-background: #120928;
  --color-background-2: linear-gradient(150deg, #121522, #063358 50%);

  --max-content-width: 80rem;

  --font-body: 'Poppins', sans-serif;

  font-size: calc(60% + 0.8vmin);
  -webkit-text-size-adjust: 100%;
  height: 100%;
}

:root {
  background-image: url(img/app/friends.jpeg);
  background-size: cover;
  background: rgb(197, 197, 197);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-white);
  font-family: var(--font-body);
}

/* ------------------------------------------- */
/*                   BODY                      */
/* ------------------------------------------- */

body {
  margin: 0 auto;
  overflow-y: scroll;
  overflow-x: hidden;

  max-width: var(--max-content-width);
  padding: 1rem;
  min-height: 100%;
  height: 100%;
  padding-bottom: 10rem;
  text-align: center;
}

h1 {
  font-size: 3rem;
  color: #063358;
}

main {
  background-color: #063358;
}

/* ------------------------------------------- */
/*                  TEXT SECTION               */
/* ------------------------------------------- */

main section {
  width: 100%;
  height: 100vh;
  padding: 1em;
}

main#test {
    background-color: transparent;
}

main section img:first-child {
  border-radius: 10px;
  background: #063358;
  width: 700px;
}

main section div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: rgb(83, 83, 83);
  padding: 0.3em;
  width: 90%;
  margin: 0 auto;
}

main section div h2,
main section div h2 span {
  font-size: 2rem;
  font-style: italic;
}

main section div h2 {
  padding: 0.3em;
  margin: 0.3em;
}

main section div img {
  width: 120px;
}

/* explanation */

main section#explanation {
  text-align: left;
  width: 100%;
  height: 55vh;
}

main section#explanation h2 {
  font-size: 3rem;
}

main section#explanation p,
main section#explanation p span {
  font-size: 1.2rem;
  width: 20em;
}

main section#explanation p span {
  background: rgba(0, 0, 0, 0.158);
}

main section#explanation a {
  text-decoration: none;
  display: block;
  font-size: 2.5rem;
  margin-top: 1em;
  width: 10em;
  transition: 0.2s;
  border: 1px solid transparent;
  background: #1670b9;
  color: #063358;
  padding: 0.3rem;
}

main section#explanation a:hover,
main section#explanation a:focus,
main section#explanation a:active {
  background: #063358;
  color: #ffffff;
  border: 1px solid #ffffff;
}

main section#explanation a:after {
  content: '🎬';
  position: relative;
  opacity: 0;
  transition: all 0.2s;
}

main section#explanation a:hover:after,
main section#explanation a:focus:after,
main section#explanation a:active:after {
  opacity: 1;
}

/* Footer */

footer p,
footer p a {
  color: #000000;
}
