@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

/* ------------------------------------------- */
/*                   OVERALL                   */
/* ------------------------------------------- */

html {
  --color-white: #494949;
  --color-background: #120928;
  --max-content-width: 70rem;
  /* font-size: calc(60% + 0.8vmin); */
  /* -webkit-text-size-adjust: 100%; */
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-size: 1rem; */
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

body {
  text-align: center;
  transition: 0.1s ease-in-out;
  margin: 0 auto;
  overflow-y: hidden;
  overflow-x: hidden;
  /* max-width: var(--max-content-width);*/
  min-height: 100%;
  height: 100%;
  color: var(--color-white);
}

body.dark-mode {
  transition: 0.1s ease-in-out;
  background-color: black;
  color: white;
}

header a.dark-mode,
footer a.dark-mode {
  color: white;
  transition: 0.1s ease-in-out;
}

header {
  margin: 1em 0;
}

main a {
  display: block;
  width: 100%;
}

button {
  padding: 1.8em;
  margin: 0 0.5em;
  margin-top: 3em;
  border: 4px solid #595959;
  transition: 0.2s;
  background: white;
  margin: 17px 0px;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

body header button {
  background-image: url(../assets/dark-mode.svg);
  position: absolute;
  top: 0;
  right: 1vw;
}

body main button:nth-child(3) {
  background-image: url(../assets/play.png);
  position: absolute;
  padding: 3em;
  top: 35%;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

button:hover,
button:focus,
button:active {
  cursor: pointer;
  border: 4px solid crimson;
  color: crimson;
  border-radius: 5px;
  box-shadow: 0 0 7px 0px black;
}

button.dark-mode {
  border: 3px solid white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 0.4em;
  font-size: 0.9rem;
}

video {
  /* width: 80%; */
  width: 50vw;
}

body main div div {
  position: absolute;
  /* bottom: 118px; */
  bottom: 27%;
  display: block;
  width: 25px;
  height: 25px;
  right: 25.6vw;
  background: #ec5656;
  clip-path: circle(50% at 50% 50%);
  background-image: url(../assets/music-note.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position-x: center;
  background-position-y: center;
}

/* eq */
canvas {
  position: absolute;
  bottom: 1vw;
  left: 25.5vw;
  display: block;
  width: 5%;
  clip-path: circle(50%);
  padding: 8px;
}
